*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sub{
    display: flex;
    padding: 2rem;
    justify-content: center;
}

.sub21{
    width: 100%;
    position: relative;
    bottom:  10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sub21 > h1{
    color: #747DFF;
    text-wrap: nowrap;
    line-height: 10rem;
    position: relative;
}

.sub21 > h1::after{
    content: '';
    position: absolute;
    border-radius: 4rem;
    background-color: #FFAD32;
    height: 0.5vh;
    width: 17.5vw;
    top: 80%;
    left: 0%;
}

.sub21 > p{
    text-wrap: wrap;
    font-size: x-large;
}

.sub21 > a{
    text-decoration: none;
    padding: 0.5rem 0.2rem;
    width: 5vw;
    background-color: #FFAD32;
    color: white;
    border-radius: 0.4rem;
}

.sub22{
    width: 100%;
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
}

.sub22 > img{
    margin: 0.4rem;
    width: 18vw;
    height: auto;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0rem 0.2rem 0.25rem gray;
}

footer{

    background-color: gray;
    margin-top: 500px ;
    display: flex;
    
}

footer div{
    display: flex  ;
    flex-direction: column;
    width: 32vw;
    padding: 5px 0;
}
